---
import HeroBanner from "../components/index/HeroBanner.astro";
import TourDates from "../components/index/TourDates.astro";
import Merch from "../components/index/Merch.astro";
import Videos from "../components/index/Videos.astro";
import ChickenFinger from "../components/index/ChickenFinger.astro";
import Wrapper from "../components/Wrapper.astro";

import "../app.css";
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Lawrence The Band</title>
</head>
<body class="font-salacious"> <!-- Use font-salacious -->
<Wrapper>
	<HeroBanner />
	<TourDates />
	<Merch />
	<Videos />
	<ChickenFinger />
</Wrapper>
</body>
</html>