@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'salacious';
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: url('/public/fonts/salacious.otf') format('opentype'); /* Corrected format and path */
    }
}