---
import homeStyle from "../../data/homeStyle";
---
<div class={homeStyle + " bg-office-background group hover:bg-video-background bg-cover"}>
    <a href="https://stem.ffm.to/lawrencefamilybusiness" target="_blank" class="space-y-8 transition ease-in group-hover:scale-110 duration-300">
        <img src="/images/FamilyBusiness.png" class="w-96" alt="Family Business Cover Album">
        <p>Listen to our Album</p>
    </a>
</div>