---

---
<div class="mx-auto bg-office-background bg-cover border text-center grid place-items-center p-32">
    <a href="https://stem.ffm.to/lawrencefamilybusiness" target="_blank" class="space-y-8 transition ease-in hover:scale-110 duration-300">
        <img src="/FamilyBusiness.png" class="w-96" alt="Family Business Cover Album">
        <p>Listen to our Album</p>
    </a>
</div>